{% extends 'main/base.html' %}
{%load crispy_forms_tags %} 

{% block title %}Login Here{% endblock %}


{% block content %}
    <form method="post" class="form-group bg-light p-4 rounded shadow-sm">
        {% csrf_token %}
        <h2 class="text-center mb-4">Login</h2>
        {{ form|crispy }}
        <p class="text-center">Don't have an account? <a href="/register">Create one here</a>.</p>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
{% endblock %}