{% extends 'main/base.html' %}

{% block title %} Create New List {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Create Page</h2>
        <p>To get started, create a list using the form below:</p>
        <form method="post" action="/create/" class="form-group">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button type="submit", name="save" class="btn btn-success">Create New</button>
                </div>
                {{form.name}}
            </div>
        </form>
    {% else %}
        <h2>Create Page</h2>
        <p>Sorry, you have to be <a href="/login">logged in</a> or <a href="/register">registered</a> to be able to use this page.</p>
    {% endif %}
{% endblock %}