{% extends 'main/base.html' %}
{% block title %}View List{% endblock %}

{% block content %}
    <h2>{{ls.name}}</h2>
    <form method="post" action="#">
        {% csrf_token %} 
        {% for item in ls.item_set.all %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="form-control">
                    {% if item.complete == True %}
                        <input type="checkbox", value="clicked", name="c{{item.id}}" checked>
                    {% else %}
                        <input type="checkbox", value="clicked", name="c{{item.id}}">
                    {% endif %}
                </div>
            </div>
            <input type="text", value="{{item.text}}" class="form-control">
            <button type="submit", name="delete_item", value="{{ item.id }}" class="btn btn-danger"><i class="fas fa-trash"></i> Trash</button>
        </div>
        {% endfor %}

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="submit", name="newItem", value="newItem" class="btn btn-success">Add Item</button>
            </div>
            <input type="text", name="new">
        </div>
        <button type="submit", name="save", value="save" class="btn btn-success">Save List</button>
        <button type="submit", name="delete", value="delete" class="btn btn-success btn btn-danger">Delete List</button>
    </form>
{% endblock %}